/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 20px;
  background: #e3e3e3;
}

h1 {
  border-bottom: 2px solid grey;
  padding: 3px;
}

#content {
  margin: 30px;
}

#new-entry{
  border: 1px solid grey;
  margin: 10px 20px;
  padding: 5px;
  width: 25%;
}

#new-entry:hover {
  background: #F0FFFF;
}

#new-content {
  max-width: 200px;
}

#entry-list {
  margin-top: 10px;
}

.entry {
  border: 1px solid grey;
  padding: 20px;
  margin: 10px 0px;
  width: 75%;

  $left: 20px;

  .author {
    margin-left: $left;
  }

  .mood {
    margin-left: $left;
  }

  .content {
    text-indent: 20px;
  }

}

.entry:hover {
  background: #F0FFFF;
}
