<h2 class="title">{{title}}</h2>
<h3 class="author">by: {{author}}</h3>
<h4 class="mood">Feeling: {{mood}}</h4>
<p class="content">
  {{content}}
</p>
<button class="view">View Post</button>
<button class="delete">Delete Post</button>
